# Dependency directories
node_modules/
.pnp/
.pnp.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/

*.log
*.lock
*.pid
*.seed
*.pid.lock
coverage/
*.lcov
.DS_Store
Thumbs.db
*.swp
*.swo
*.idea/
*.vscode/
*.vscode/*
*.code-workspace
.env
.env.*.local
tmp/
temp/
*.tmp
*.cache
.cache-loader/
public/*.cache
GPUCheck.jsx